.search-box {
	width: 200px;
}

.container {
	width: 95%;
}

.MarTop10 {
	margin-top: 10px;
}

.MarTop20 {
	margin-top: 20px;
}

.MarTop30 {
	margin-top: 30px;
}

.MarBot10 {
	margin-bottom: 10px;
}

.MarBot20 {
	margin-bottom: 20px;
}

.MarBot30 {
	margin-bottom: 30px;
}

.MarRight05 {
	margin-right: 5px;
}

.MarRight10 {
	margin-right: 10px;
}

.MarRight20 {
	margin-right: 20px;
}

.MarRight30 {
	margin-right: 30px;
}

/* Font Size */
.Fs9 {
	font-size: 10px;
}

.Fs10 {
	font-size: 10px;
}

.Fs12 {
	font-size: 12px;
}

.Fs16 {
	font-size: 16px;
}

.Fs20 {
	font-size: 20px;
}

.Fs24 {
	font-size: 24px;
}
        
.Fs36 {
	font-size: 36px;
}

.Fs60 {
	font-size: 60px;
}

.conf-menu {
	width: 180px;
}

.conf-menu a {
	width: 180px;
}

.action-bar {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
        